<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section1</key>
	<array>
		<dict>
			<key>id</key>
			<string>section1_0</string>
			<key>icon</key>
			<string>ru_1_1.png</string>
			<key>title</key>
			<string>item_1_1</string>
			<key>moneyPerSecond</key>
			<real>0.5</real>
			<key>cost</key>
			<real>100</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_1</string>
			<key>icon</key>
			<string>ru_1_2.png</string>
			<key>title</key>
			<string>item_1_2</string>
			<key>moneyPerSecond</key>
			<real>1</real>
			<key>cost</key>
			<real>270</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_2</string>
			<key>icon</key>
			<string>ru_1_3.png</string>
			<key>title</key>
			<string>item_1_3</string>
			<key>moneyPerSecond</key>
			<real>4</real>
			<key>cost</key>
			<real>2000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_3</string>
			<key>icon</key>
			<string>ru_1_4.png</string>
			<key>title</key>
			<string>item_1_4</string>
			<key>moneyPerSecond</key>
			<real>12</real>
			<key>cost</key>
			<real>7000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_4</string>
			<key>icon</key>
			<string>ru_1_5.png</string>
			<key>title</key>
			<string>item_1_5</string>
			<key>moneyPerSecond</key>
			<real>35</real>
			<key>cost</key>
			<real>30000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_5</string>
			<key>icon</key>
			<string>ru_1_6.png</string>
			<key>title</key>
			<string>item_1_6</string>
			<key>moneyPerSecond</key>
			<real>180</real>
			<key>cost</key>
			<real>125000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_6</string>
			<key>icon</key>
			<string>ru_1_7.png</string>
			<key>title</key>
			<string>item_1_7</string>
			<key>moneyPerSecond</key>
			<real>750</real>
			<key>cost</key>
			<real>500000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_7</string>
			<key>icon</key>
			<string>ru_1_8.png</string>
			<key>title</key>
			<string>item_1_8</string>
			<key>moneyPerSecond</key>
			<real>2800</real>
			<key>cost</key>
			<real>1500000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_8</string>
			<key>icon</key>
			<string>ru_1_9.png</string>
			<key>title</key>
			<string>item_1_9</string>
			<key>moneyPerSecond</key>
			<real>9900</real>
			<key>cost</key>
			<real>4000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_9</string>
			<key>icon</key>
			<string>ru_1_10.png</string>
			<key>title</key>
			<string>item_1_10</string>
			<key>moneyPerSecond</key>
			<real>30000</real>
			<key>cost</key>
			<real>7000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_10</string>
			<key>icon</key>
			<string>ru_1_11.png</string>
			<key>title</key>
			<string>item_1_11</string>
			<key>moneyPerSecond</key>
			<real>80000</real>
			<key>cost</key>
			<real>50000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_11</string>
			<key>icon</key>
			<string>ru_1_12.png</string>
			<key>title</key>
			<string>item_1_12</string>
			<key>moneyPerSecond</key>
			<real>2000000</real>
			<key>cost</key>
			<real>450000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_12</string>
			<key>icon</key>
			<string>ru_1_13.png</string>
			<key>title</key>
			<string>item_1_13</string>
			<key>moneyPerSecond</key>
			<real>8000000</real>
			<key>cost</key>
			<real>8000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_13</string>
			<key>icon</key>
			<string>ru_1_14.png</string>
			<key>title</key>
			<string>item_1_14</string>
			<key>moneyPerSecond</key>
			<real>300000000</real>
			<key>cost</key>
			<real>800000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_14</string>
			<key>icon</key>
			<string>ru_1_15.png</string>
			<key>title</key>
			<string>item_1_15</string>
			<key>moneyPerSecond</key>
			<real>12000000000</real>
			<key>cost</key>
			<real>30000000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_15</string>
			<key>icon</key>
			<string>ru_1_16.png</string>
			<key>title</key>
			<string>item_1_16</string>
			<key>moneyPerSecond</key>
			<real>52000000000</real>
			<key>cost</key>
			<real>90000000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_16</string>
			<key>icon</key>
			<string>ru_1_17.png</string>
			<key>title</key>
			<string>item_1_17</string>
			<key>moneyPerSecond</key>
			<real>100000000000</real>
			<key>cost</key>
			<real>1500000000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_17</string>
			<key>icon</key>
			<string>ru_1_18.png</string>
			<key>title</key>
			<string>item_1_18</string>
			<key>moneyPerSecond</key>
			<real>15000000000000</real>
			<key>cost</key>
			<real>3e+16</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_18</string>
			<key>icon</key>
			<string>ru_1_19.png</string>
			<key>title</key>
			<string>item_1_19</string>
			<key>moneyPerSecond</key>
			<real>2000000000000000</real>
			<key>cost</key>
			<real>4e+17</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_19</string>
			<key>icon</key>
			<string>ru_1_20.png</string>
			<key>title</key>
			<string>item_1_20</string>
			<key>moneyPerSecond</key>
			<real>5000000000000000</real>
			<key>cost</key>
			<real>1.2e+18</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_20</string>
			<key>icon</key>
			<string>ru_1_21.png</string>
			<key>title</key>
			<string>item_1_21</string>
			<key>moneyPerSecond</key>
			<real>1.5e+16</real>
			<key>cost</key>
			<real>3.5e+19</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_21</string>
			<key>icon</key>
			<string>ru_1_22.png</string>
			<key>title</key>
			<string>item_1_22</string>
			<key>moneyPerSecond</key>
			<real>5e+16</real>
			<key>cost</key>
			<real>8e+19</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_22</string>
			<key>icon</key>
			<string>ru_1_23.png</string>
			<key>title</key>
			<string>item_1_23</string>
			<key>moneyPerSecond</key>
			<real>7e+17</real>
			<key>cost</key>
			<real>4e+20</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_23</string>
			<key>icon</key>
			<string>ru_1_24.png</string>
			<key>title</key>
			<string>item_1_24</string>
			<key>moneyPerSecond</key>
			<real>2e+18</real>
			<key>cost</key>
			<real>1e+21</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section1_24</string>
			<key>icon</key>
			<string>ru_1_25.png</string>
			<key>title</key>
			<string>item_1_25</string>
			<key>moneyPerSecond</key>
			<real>1.2e+19</real>
			<key>cost</key>
			<real>1.8e+22</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
	</array>
	<key>section2</key>
	<array>
		<dict>
			<key>id</key>
			<string>section2_0</string>
			<key>icon</key>
			<string>ru_2_1.png</string>
			<key>title</key>
			<string>item_2_1</string>
			<key>moneyPerHour</key>
			<real>30</real>
			<key>storageCapacity</key>
			<real>50</real>
			<key>cost</key>
			<real>20</real>
			<key>maxLevel</key>
			<real>1</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_1</string>
			<key>icon</key>
			<string>ru_2_2.png</string>
			<key>title</key>
			<string>item_2_2</string>
			<key>moneyPerHour</key>
			<real>200</real>
			<key>cost</key>
			<real>300</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_2</string>
			<key>icon</key>
			<string>ru_2_3.png</string>
			<key>title</key>
			<string>item_2_3</string>
			<key>storageCapacity</key>
			<real>2000</real>
			<key>cost</key>
			<real>500</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_3</string>
			<key>icon</key>
			<string>ru_2_4.png</string>
			<key>title</key>
			<string>item_2_4</string>
			<key>moneyPerHour</key>
			<real>5000</real>
			<key>cost</key>
			<real>1000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_4</string>
			<key>icon</key>
			<string>ru_2_5.png</string>
			<key>title</key>
			<string>item_2_5</string>
			<key>storageCapacity</key>
			<real>5000</real>
			<key>cost</key>
			<real>2500</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_5</string>
			<key>icon</key>
			<string>ru_2_6.png</string>
			<key>title</key>
			<string>item_2_6</string>
			<key>moneyPerHour</key>
			<real>15000</real>
			<key>cost</key>
			<real>12000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_6</string>
			<key>icon</key>
			<string>ru_2_7.png</string>
			<key>title</key>
			<string>item_2_7</string>
			<key>storageCapacity</key>
			<real>140000</real>
			<key>cost</key>
			<real>42000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_7</string>
			<key>icon</key>
			<string>ru_2_8.png</string>
			<key>title</key>
			<string>item_2_8</string>
			<key>moneyPerHour</key>
			<real>500000</real>
			<key>cost</key>
			<real>400000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_8</string>
			<key>icon</key>
			<string>ru_2_9.png</string>
			<key>title</key>
			<string>item_2_9</string>
			<key>storageCapacity</key>
			<real>500000</real>
			<key>cost</key>
			<real>5000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_9</string>
			<key>icon</key>
			<string>ru_2_10.png</string>
			<key>title</key>
			<string>item_2_10</string>
			<key>moneyPerHour</key>
			<real>1500000</real>
			<key>cost</key>
			<real>18000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_10</string>
			<key>icon</key>
			<string>ru_2_11.png</string>
			<key>title</key>
			<string>item_2_11</string>
			<key>storageCapacity</key>
			<string>18000000</string>
			<key>cost</key>
			<real>100000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_11</string>
			<key>icon</key>
			<string>ru_2_12.png</string>
			<key>title</key>
			<string>item_2_12</string>
			<key>moneyPerHour</key>
			<real>4500000</real>
			<key>cost</key>
			<real>4000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_12</string>
			<key>icon</key>
			<string>ru_2_13.png</string>
			<key>title</key>
			<string>item_2_13</string>
			<key>storageCapacity</key>
			<real>15000000000</real>
			<key>cost</key>
			<real>25000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_13</string>
			<key>icon</key>
			<string>ru_2_14.png</string>
			<key>title</key>
			<string>item_2_14</string>
			<key>moneyPerHour</key>
			<real>250000000</real>
			<key>cost</key>
			<real>180000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_14</string>
			<key>icon</key>
			<string>ru_2_15.png</string>
			<key>title</key>
			<string>item_2_15</string>
			<key>storageCapacity</key>
			<real>700000000000</real>
			<key>cost</key>
			<real>5000000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_15</string>
			<key>icon</key>
			<string>ru_2_16.png</string>
			<key>title</key>
			<string>item_2_16</string>
			<key>moneyPerHour</key>
			<real>25000000000</real>
			<key>cost</key>
			<real>1000000000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_16</string>
			<key>icon</key>
			<string>ru_2_17.png</string>
			<key>title</key>
			<string>item_2_17</string>
			<key>moneyPerHour</key>
			<real>50000000000</real>
			<key>cost</key>
			<real>1800000000000000</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_17</string>
			<key>icon</key>
			<string>ru_2_18.png</string>
			<key>title</key>
			<string>item_2_18</string>
			<key>storageCapacity</key>
			<real>5000000000000</real>
			<key>cost</key>
			<real>5e+16</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_18</string>
			<key>icon</key>
			<string>ru_2_19.png</string>
			<key>title</key>
			<string>item_2_19</string>
			<key>moneyPerHour</key>
			<real>9000000000000</real>
			<key>cost</key>
			<real>6e+18</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_19</string>
			<key>icon</key>
			<string>ru_2_20.png</string>
			<key>title</key>
			<string>item_2_20</string>
			<key>storageCapacity</key>
			<real>800000000000000</real>
			<key>cost</key>
			<real>2e+20</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_20</string>
			<key>icon</key>
			<string>ru_2_21.png</string>
			<key>title</key>
			<string>item_2_21</string>
			<key>moneyPerHour</key>
			<real>700000000000000</real>
			<key>cost</key>
			<real>5e+22</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_21</string>
			<key>icon</key>
			<string>ru_2_22.png</string>
			<key>title</key>
			<string>item_2_22</string>
			<key>storageCapacity</key>
			<real>2e+17</real>
			<key>cost</key>
			<real>6e+24</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_22</string>
			<key>icon</key>
			<string>ru_2_23.png</string>
			<key>title</key>
			<string>item_2_23</string>
			<key>moneyPerHour</key>
			<real>5000000000000000</real>
			<key>cost</key>
			<real>7e+26</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_23</string>
			<key>icon</key>
			<string>ru_2_24.png</string>
			<key>title</key>
			<string>item_2_24</string>
			<key>storageCapacity</key>
			<real>1.5e+19</real>
			<key>cost</key>
			<real>7e+26</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section2_24</string>
			<key>icon</key>
			<string>ru_2_25.png</string>
			<key>title</key>
			<string>item_2_25</string>
			<key>moneyPerHour</key>
			<real>7e+16</real>
			<key>cost</key>
			<real>3e+30</real>
			<key>costPerLevel</key>
			<real>1.35</real>
		</dict>
	</array>
	<key>section3</key>
	<array>
		<dict>
			<key>id</key>
			<string>section3_0</string>
			<key>icon</key>
			<string>ru_3_1.png</string>
			<key>title</key>
			<string>item_3_1</string>
			<key>moneyPerClick</key>
			<real>1</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>100</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_1</string>
			<key>icon</key>
			<string>ru_3_2.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_0</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_2</string>
			<key>moneyPerClick</key>
			<real>10</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>3200</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_2</string>
			<key>icon</key>
			<string>ru_3_3.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_1</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_3</string>
			<key>moneyPerClick</key>
			<real>100</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>65000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_3</string>
			<key>icon</key>
			<string>ru_3_4.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_2</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_4</string>
			<key>moneyPerClick</key>
			<real>1000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>1500000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_4</string>
			<key>icon</key>
			<string>ru_3_5.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_3</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_5</string>
			<key>moneyPerClick</key>
			<real>10000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>21500000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_5</string>
			<key>icon</key>
			<string>ru_3_6.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_4</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_6</string>
			<key>moneyPerClick</key>
			<real>100000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>300000000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_6</string>
			<key>icon</key>
			<string>ru_3_7.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_5</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_7</string>
			<key>moneyPerClick</key>
			<real>1000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>3400000000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_7</string>
			<key>icon</key>
			<string>ru_3_8.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_6</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_8</string>
			<key>moneyPerClick</key>
			<real>10000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>57000000000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_8</string>
			<key>icon</key>
			<string>ru_3_9.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_7</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_9</string>
			<key>moneyPerClick</key>
			<real>100000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>780000000000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_9</string>
			<key>icon</key>
			<string>ru_3_10.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_8</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_10</string>
			<key>moneyPerClick</key>
			<real>1000000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>12800000000000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_10</string>
			<key>icon</key>
			<string>ru_3_11.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_9</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_11</string>
			<key>moneyPerClick</key>
			<real>10000000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>111000000000000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_11</string>
			<key>icon</key>
			<string>ru_3_12.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_10</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_12</string>
			<key>moneyPerClick</key>
			<real>100000000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>1900000000000000</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_12</string>
			<key>icon</key>
			<string>ru_3_13.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_11</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_13</string>
			<key>moneyPerClick</key>
			<real>1000000000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>2.035e+16</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_13</string>
			<key>icon</key>
			<string>ru_3_14.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_12</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_14</string>
			<key>moneyPerClick</key>
			<real>10000000000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>4e+17</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_14</string>
			<key>icon</key>
			<string>ru_3_15.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_13</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_15</string>
			<key>moneyPerClick</key>
			<real>100000000000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>5e+18</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_15</string>
			<key>icon</key>
			<string>ru_3_16.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_14</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_16</string>
			<key>moneyPerClick</key>
			<real>1000000000000000</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>6.5e+19</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_16</string>
			<key>icon</key>
			<string>ru_3_17.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_15</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_17</string>
			<key>moneyPerClick</key>
			<real>1e+16</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>7.5e+20</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_17</string>
			<key>icon</key>
			<string>ru_3_18.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_16</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_18</string>
			<key>moneyPerClick</key>
			<real>1e+17</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>8.5e+21</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_18</string>
			<key>icon</key>
			<string>ru_3_19.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_17</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_19</string>
			<key>moneyPerClick</key>
			<real>1e+18</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>9.999999999999999e+22</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_19</string>
			<key>icon</key>
			<string>ru_3_20.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_18</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_20</string>
			<key>moneyPerClick</key>
			<real>1e+19</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>2e+24</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_20</string>
			<key>icon</key>
			<string>ru_3_21.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_19</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_21</string>
			<key>moneyPerClick</key>
			<real>1e+20</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>3e+25</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_21</string>
			<key>icon</key>
			<string>ru_3_22.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_20</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_22</string>
			<key>moneyPerClick</key>
			<real>1e+21</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>4e+26</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_22</string>
			<key>icon</key>
			<string>ru_3_23.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_21</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_23</string>
			<key>moneyPerClick</key>
			<real>1e+22</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>5e+27</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_23</string>
			<key>icon</key>
			<string>ru_3_24.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_22</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_24</string>
			<key>moneyPerClick</key>
			<real>9.999999999999999e+22</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>6e+28</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
		<dict>
			<key>id</key>
			<string>section3_24</string>
			<key>icon</key>
			<string>ru_3_25.png</string>
			<key>require</key>
			<dict>
				<key>id</key>
				<string>section3_23</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<key>title</key>
			<string>item_3_25</string>
			<key>moneyPerClick</key>
			<real>1e+24</real>
			<key>moneyPerLevel</key>
			<array>
				<real>1</real>
				<real>3</real>
				<real>6</real>
			</array>
			<key>cost</key>
			<real>7e+29</real>
			<key>costPerLevel</key>
			<real>2</real>
			<key>maxLevel</key>
			<real>3</real>
		</dict>
	</array>
	<key>section4</key>
	<array>
		<dict>
			<key>id</key>
			<string>section4_2</string>
			<key>icon</key>
			<string>inapp4.png</string>
			<key>type</key>
			<string>InAppItemHandler</string>
			<key>product</key>
			<string>money_x2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>section4_3</string>
			<key>icon</key>
			<string>inapp5.png</string>
			<key>type</key>
			<string>InAppItemHandler</string>
			<key>product</key>
			<string>moneypersec_x2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>section4_5</string>
			<key>icon</key>
			<string>inapp1.png</string>
			<key>type</key>
			<string>InAppItemHandler</string>
			<key>product</key>
			<string>instant_x4000</string>
		</dict>
		<dict>
			<key>id</key>
			<string>section4_6</string>
			<key>icon</key>
			<string>inapp2.png</string>
			<key>type</key>
			<string>InAppItemHandler</string>
			<key>product</key>
			<string>instant_x8500</string>
		</dict>
		<dict>
			<key>id</key>
			<string>section4_7</string>
			<key>icon</key>
			<string>inapp3.png</string>
			<key>type</key>
			<string>InAppItemHandler</string>
			<key>product</key>
			<string>instant_x25000</string>
		</dict>
		<dict>
			<key>id</key>
			<string>section4_8</string>
			<key>icon</key>
			<string>inapp6.png</string>
			<key>type</key>
			<string>InAppItemHandler</string>
			<key>product</key>
			<string>bribes_5</string>
		</dict>
	</array>
</dict>
</plist>
