<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>currency</key>
		<string>Dollar</string>
		<key>country</key>
		<string>America</string>
		<key>language</key>
		<string>en_US</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>currency</key>
		<string>Funt</string>
		<key>country</key>
		<string>Britain</string>
		<key>language</key>
		<string>en_GB</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>currency</key>
		<string>Funt</string>
		<key>country</key>
		<string>Britain</string>
		<key>language</key>
		<string>en_GB</string>
	</dict>
	<key>pt</key>
	<dict>
		<key>currency</key>
		<string>Real</string>
		<key>country</key>
		<string>Brazil</string>
		<key>language</key>
		<string>pt</string>
	</dict>
	<key>fr</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>France</string>
		<key>language</key>
		<string>fr</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>France</string>
		<key>language</key>
		<string>fr</string>
	</dict>
	<key>de</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>Germany</string>
		<key>language</key>
		<string>de</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>Germany</string>
		<key>language</key>
		<string>de</string>
	</dict>
	<key>en_IN</key>
	<dict>
		<key>currency</key>
		<string>Rupee</string>
		<key>country</key>
		<string>India</string>
		<key>language</key>
		<string>en_IN</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>currency</key>
		<string>Rupee</string>
		<key>country</key>
		<string>India</string>
		<key>language</key>
		<string>en_IN</string>
	</dict>
	<key>hi</key>
	<dict>
		<key>currency</key>
		<string>Rupee</string>
		<key>country</key>
		<string>India</string>
		<key>language</key>
		<string>hi_IN</string>
	</dict>
	<key>hi_IN</key>
	<dict>
		<key>currency</key>
		<string>Rupee</string>
		<key>country</key>
		<string>India</string>
		<key>language</key>
		<string>hi_IN</string>
	</dict>
	<key>it</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>Italy</string>
		<key>language</key>
		<string>it</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>Italy</string>
		<key>language</key>
		<string>it</string>
	</dict>
	<key>ru</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>uk</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>UA</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>be</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>BY</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>ky</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>KG</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>kk</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>ro</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>MD</key>
	<dict>
		<key>currency</key>
		<string>Ruble</string>
		<key>country</key>
		<string>Russia</string>
		<key>language</key>
		<string>ru</string>
	</dict>
	<key>es</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>Spain</string>
		<key>language</key>
		<string>es</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>currency</key>
		<string>Euro</string>
		<key>country</key>
		<string>Spain</string>
		<key>language</key>
		<string>es</string>
	</dict>
	<key>tr</key>
	<dict>
		<key>currency</key>
		<string>Lira</string>
		<key>country</key>
		<string>Turkey</string>
		<key>language</key>
		<string>tr</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>currency</key>
		<string>Lira</string>
		<key>country</key>
		<string>Turkey</string>
		<key>language</key>
		<string>tr</string>
	</dict>
</dict>
</plist>
