<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>$</string>
	<key>bills</key>
	<array>
		<dict>
			<key>image</key>
			<string>dollar1.jpg</string>
			<key>side</key>
			<string>deck1.png</string>
			<key>value</key>
			<integer>0</integer>
			<key>color</key>
			<string>240,240,212</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dollar2.jpg</string>
			<key>side</key>
			<string>deck2.png</string>
			<key>value</key>
			<real>10000</real>
			<key>color</key>
			<string>240,240,212</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dollar5.jpg</string>
			<key>side</key>
			<string>deck5.png</string>
			<key>value</key>
			<real>100000</real>
			<key>color</key>
			<string>173,164,156</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dollar10.jpg</string>
			<key>side</key>
			<string>deck10.png</string>
			<key>value</key>
			<real>1000000</real>
			<key>color</key>
			<string>199,173,113</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dollar20.jpg</string>
			<key>side</key>
			<string>deck20.png</string>
			<key>value</key>
			<real>10000000</real>
			<key>color</key>
			<string>173,188,154</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dollar50.jpg</string>
			<key>side</key>
			<string>deck50.png</string>
			<key>value</key>
			<real>100000000</real>
			<key>color</key>
			<string>194,168,148</string>
		</dict>
		<dict>
			<key>image</key>
			<string>dollar100.jpg</string>
			<key>side</key>
			<string>deck100.png</string>
			<key>value</key>
			<real>1000000000</real>
			<key>color</key>
			<string>240,240,212</string>
		</dict>
	</array>
	<key>gold</key>
	<string>goldbill.jpg</string>
</dict>
</plist>
