<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>₽</string>
	<key>bills</key>
	<array>
		<dict>
			<key>image</key>
			<string>bill50.jpg</string>
			<key>side</key>
			<string>deck50.png</string>
			<key>value</key>
			<integer>0</integer>
			<key>color</key>
			<string>153,210,217</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bill100.jpg</string>
			<key>side</key>
			<string>deck100.png</string>
			<key>value</key>
			<real>10000</real>
			<key>color</key>
			<string>238,202,180</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bill200.jpg</string>
			<key>side</key>
			<string>deck200.png</string>
			<key>value</key>
			<real>100000</real>
			<key>color</key>
			<string>149,198,125</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bill500.jpg</string>
			<key>side</key>
			<string>deck500.png</string>
			<key>value</key>
			<real>1000000</real>
			<key>color</key>
			<string>229,194,201</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bill1000.jpg</string>
			<key>side</key>
			<string>deck1000.png</string>
			<key>value</key>
			<real>10000000</real>
			<key>color</key>
			<string>180,228,221</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bill2000.jpg</string>
			<key>side</key>
			<string>deck2000.png</string>
			<key>value</key>
			<real>100000000</real>
			<key>color</key>
			<string>85,163,220</string>
		</dict>
		<dict>
			<key>image</key>
			<string>bill5000.jpg</string>
			<key>side</key>
			<string>deck5000.png</string>
			<key>value</key>
			<real>1000000000</real>
			<key>color</key>
			<string>251,195,182</string>
		</dict>
	</array>
	<key>gold</key>
	<string>goldbill.jpg</string>
</dict>
</plist>
